* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    min-height: 20px;
}

.modules-right {
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 0 10px 4px 0;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

window#waybar:hover .modules-right {
    opacity: 1;
}

#clock,
#memory,
#pulseaudio,
#backlight,
#language,
#battery,
#workspaces {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button {
    padding: 0 3px;
    color: #666666;
}

#workspaces button.focused {
    color: #000000;
    background-color: #ffffff;
    border-radius: 2px;
}
